[flake8]
max-line-length = 120
exclude = .git,__pycache__,.venv,.env,migrations
ignore = W291,W293
per-file-ignores =
    tests/*: F401,F811,F841
    app/crud/*: F401
    app/midlewares/*: F401
    app/models/*: F401
    app/routers/*: F401
    app/schemas/*: F401
    migrations/*: F401,W291